.section--generic {
    margin-bottom: 2rem;
}

.section--generic__player--zone .player--list {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.15rem;
}

.section--generic__player--zone .player--list.card-small {
    grid-template-columns: repeat(5, 1fr);
}

